@{
    ViewBag.Title = "About";
}
<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="~/Images/about.jpg" style="object-fit: cover; border-radius: 40px; box-shadow: 10px 10px 20px rgba(0,0,0,0.2), -10px -10px  20px 0px rgba(255,255,255,1)">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="mb-4">
                    <h1 class="d-inline-block ">About <span style="color:mediumaquamarine">Us</span></h1>
                    <h2 class="display-4">Best Medical Care For Yourself and Your Family</h2>
                </div>
                <p>
                    <h4><strong>Mission Statement</strong></h4>
                    <p style="font-style:italic">“Faithful to our tradition, we provide the highest possible standard of care and treatment in a professional and compassionate manner to every person who avails of our services”</p>
                    <h4><strong>Services include:</strong></h4>
                    Consultant Out-Patient Clinics,
                    Diagnostic Radiological and Laboratory services,
                    Day Surgery,
                    Clinical Nurse Specialists in the areas of Diabetes, Continence Management, Respiratory Care, Health Promotion, Infection Control, Palliative Care and Pain Management,
                    A dietetic service providing nutritional assessment, dietary advice, education and evaluation,
                    Physiotherapy and Pharmacy services,
                    Chaplaincy Service.
                </p>
                <div class="row g-3 pt-3">
                    <div class="col-sm-3 col-6">
                        <div class="text-center rounded-circle py-5 before1 hov2" @*style="box-shadow: 10px 10px 20px rgba(0,0,0,0.2), -10px -10px  20px 0px rgba(255,255,255,1)"*@>
                            <i class="fa fa-3x fa-user-md mb-3"></i>
                            <h6 class="mb-0">Qualified<small class="d-block text-primary">Doctors</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="text-center rounded-circle py-5 before1 hov2" @*style="box-shadow: 10px 10px 20px rgba(0,0,0,0.2), -10px -10px  20px 0px rgba(255,255,255,1)"*@>
                            <i class="fa fa-3x fa-procedures mb-3"></i>
                            <h6 class="mb-0">Emergency<small class="d-block text-primary">Services</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="text-center rounded-circle py-5 before1 hov2" @*style="box-shadow: 10px 10px 20px rgba(0,0,0,0.2), -10px -10px  20px 0px rgba(255,255,255,1)"*@>
                            <i class="fa fa-3x fa-microscope mb-3"></i>
                            <h6 class="mb-0">Accurate<small class="d-block text-primary">Testing</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="text-center rounded-circle py-5 before1 hov2" @*style="box-shadow: 10px 10px 20px rgba(0,0,0,0.2), -10px -10px  20px 0px rgba(255,255,255,1)"*@>
                            <i class="fa fa-3x fa-ambulance mb-3"></i>
                            <h6 class="mb-0">Free<small class="d-block text-primary">Ambulance</small></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->