
@{
    ViewBag.Title = "Index";
}
<div class="container p-5">
    <h1 class="text-center">You don't have permission</h1>
    <h3 class="text-center">Click this <span>@Html.ActionLink("Login", "Login", "Account", new { area = "" }, new { @class = "nav-link" })</span> Botton and login again with Admin Credentials</h3>
</div>

