@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <div class="btn hov1" style="border-radius:30px; margin: 0px 5px 5px 5px">
            <p class="" style="padding: 10px 5px 0px 5px">@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</p>
        </div>
        <div class="btn hov1" style="border-radius: 30px; margin: 0px 5px 5px 5px">
            <p class="" style="padding: 10px 5px 0px 5px"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></p>
        </div>
    }
}
else
{
    <div class="btn hov1" style="border-radius:30px; margin: 0px 5px 5px 5px">
        <p class="" style="padding: 10px 5px 0px 5px">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</p> 
    </div>
    <div class="btn hov1" style="border-radius: 30px; margin: 0px 5px 5px 5px">
        <p class="" style="padding: 10px 5px 0px 5px">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>
    </div>
}
